@import 'mixin';

.loginBubble {
  display: flex;
  flex-direction: column;
  section.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .logo {
      align-self: center;
      width: 2.5rem;
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: var(--color-gray-700);
    }
    .socialWrapper {
      display: flex;
      height: fit-content;
      gap: 2rem;
      padding-bottom: 0.75rem;

      .loginButton {
        display: flex;
        width: 2.75rem;
        height: 2.75rem;
      }
    }
  }
}
