@import 'mixin';

.noticeCard {
  border-radius: 1.25rem;
  display: flex;
  aspect-ratio: 1;
  overflow: hidden;

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    .thumbnail {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.85);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.25rem;
      z-index: 1;

      .title {
        @include largeTitleEmphasized('white');
      }
      .descWrapper {
        @include title3Emphasized('white');
        .date {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
