@import 'mixin';

.overlay {
  position: absolute;
  bottom: 100%;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.modal {
  z-index: 101;
  background-color: #fff;
  max-width: 280px;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.closeButton {
  background: none;
  border: none;
  font-size: 0.875rem;
  color: var(--color-text-black-50);
  cursor: pointer;

  &:hover {
    color: var(--color-text-black-85);
  }
}

.title {
  @include title3Emphasized;
}

.content {
  color: var(--color-text-black-85);
  line-height: 1.5;
}
