@import 'mixin';

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-800);

  > button {
    @include title2Emphasized;
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--color-gray-700);
    border: none;

    &:hover {
      background-color: var(--color-gray-600);
    }

    &:active {
      background-color: var(--color-gray-500);
    }

    &:not(:last-child) {
      border-right: 1px solid var(--color-gray-900);
    }

    &.active {
      background-color: white;
    }
  }
}
