@import 'mixin';

.container {
  position: absolute;
  bottom: 100%;
  z-index: 102;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  width: 120px;
  max-height: 300px;

  overflow-y: auto;
  scroll-behavior: contain;
}

.title {
  @include title3Emphasized;
}

.subTitle {
  @include bodyEmphasized;
}

.content {
  @include callout;
}
