@import "mixin";

.container {
  z-index: 20;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  width: 24rem;
  max-height: 36rem;

  overflow-y: auto;
  scroll-behavior: contain;
}

.title {
  @include title2Emphasized;
}

.subTitle {
  @include title3Emphasized;
}
