@import 'mixin';

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  align-self: flex-end;

  svg {
    width: 12px;
    height: 12px;
    fill: var(--color-gray-800);
  }
}
