@import 'mixin';

@font-face {
  font-family: 'PretendardVariable';
  src: url('/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900; /* 가변 폰트인 경우 */
  font-display: swap;
}

.block {
  margin-bottom: 12rem;

  textarea {
    @include footnote(black-100);
    width: 100%;
    min-height: 80px;
    padding: 4px;
    resize: vertical;
    border: 2px solid var(--color-gray-600);
    border-radius: 5px;

    &:focus {
      outline: none;

      &::placeholder {
        color: var(--color-gray-600);
      }
    }
  }
}

.head {
  @include title1(black-100);
  margin-bottom: 24px;
}

.inputBlock {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;

  .editor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    gap: 0.5rem;
    width: 100%;
  }
}

.profile {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
}

.input {
  @include footnote(black-100);
  flex: 1;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid var(--color-gray-500);
  resize: vertical;

  &:focus {
    outline: none;
  }
}

.commentList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentWrapper {
  display: flex;
}

.leftPadding {
  flex: 1;
}

.commentBlock {
  flex: 23;
  display: flex;
  width: inherit;
  align-items: flex-start;
  gap: 0.875rem;
}

.commentMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.commentTop {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  .commentName {
    @include title3Emphasized(black-85);
  }

  .commentDate {
    @include footnote(black-50);
  }
}

.textWrapper {
  width: 100%;
}

.commentBottom {
  display: flex;
  gap: 12px;
  width: 100%;
  text-wrap: wrap;

  .commentText {
    @include body(black-85);
    word-break: break-word;
    overflow-wrap: break-word;

    pre {
      white-space: pre-wrap;
    }
  }

  .deletedComment {
    @include bodyEmphasized(black-50);
  }

  .reply {
    @include bodyEmphasized(black-50);
    padding: 0.125rem 0.25rem;
    background-color: var(--color-gray-300);
  }

  .reactButton {
    @include body(black-50);
    cursor: pointer;
  }
}

.commentEditWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;
}

.commentEdit {
  width: 100%;
}

.editButtonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.moreButton {
  position: relative;
}

.btn {
  cursor: pointer;
}
