.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block {
  width: 50%;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
