@import 'mixin';

.textBlock {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 48px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: var(--color-background-gray-500);
  }

  &:active {
    background-color: var(--color-background-gray-600);
  }
}

.text {
  @include body(red);
}