@import 'mixin';

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 0.5rem;
  border-bottom: 3px solid rgba(217, 217, 217, 0.2);

  p {
    @include title3Emphasized(black-50);
    width: 11%;
    text-wrap: nowrap;
  }

  p:last-child {
    text-align: right;
    width: 7%;
  }
}