@import 'mixin';

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  flex: 1;
  width: 0;

  & > header {
    @include largeTitleEmphasized;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      @include title3Emphasized();
      color: var(--color-gray-900);
      display: flex;
      display: none;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  ul.list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
}