@import 'mixin';

.tableContainer {
  width: 100%;
  border: 1px solid #ddd;
  padding: 2rem 0;
}

.infoTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
