@import 'mixin';

.fields {
  width: 65%;
  margin: 0 auto;
}

.row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.postFormCreate {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  hr {
    background: var(--color-gray-400);
    height: 3px;
    border: 0;
  }
}

.questionError {
  @include body(red);
}
