@import 'mixin';

.button {
  @include title3(white);
  background-color: rgba(0, 122, 255, 1);
  padding: 8px 24px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-blue-500);
  }
}