@import 'mixin';

.tag {

  &.study {
    background: var(--color-orange);
  }

  &.project {
    background: var(--color-blue-400);
  }

  &.front {
    background: var(--color-blue-200);
  }

  &.backend {
    background: #333b43;
  }

  &.mobile {
    background: #426c98;
  }

  &.secure {
    background: #6e5e42;
  }

  &.ai {
    background: #ad843d;
  }

  &.mentor {
    background: #6a50fa;
  }

  &.large {
    @include title3(white);
    padding: 4px 8px;
    border-radius: 1px;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.03), 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.15);
  }

  &.small {
    @include subHeadline(white);
    padding: 3px 6px;
    border-radius: 0.75px;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.03), 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.15);
  }
}