@import 'mixin';

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board {
  width: 60%;
  margin: 0 auto;
  margin-top: 12vh;

  @include mobile-header {
    box-sizing: border-box;
    width: 100%;
    margin: 3.875rem 0 3rem;
    padding: 0 1rem;
  }
}

.buttonBlock {
  display: flex;
  justify-content: flex-end;
  gap: 1.25vw;
}
