.bubble {
  background-color: #fafafa;
  border: var(--color-text-black-50) solid 1px;
  border-radius: 10px;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  padding: 3px;
  position: absolute;
  left: -68px;
  z-index: 100;
  box-shadow:
          0 0 9px 0 #00000020,
          0 0 2px 0 #00000025,
          0 0 1px 0 #ffffff10;

  ::after {
    border-color: #fafafa transparent;
    border-style: solid;
    border-width: 0 6px 8px 6.5px;
    content: '';
    display: block;
    left: 75px;
    position: absolute;
    top: -7px;
    width: 0;
    z-index: 1;
  }

  ::before {
    border-color: var(--color-text-black-50) transparent;
    border-style: solid;
    border-width: 0 6px 8px 6.5px;
    content: '';
    display: block;
    left: 75px;
    position: absolute;
    top: -8px;
    width: 0;
    z-index: 0;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
}