@import 'mixin';

.tag {
  @include callout;
  color: white;
  display: flex;
  padding: 3px 6px;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 1px;
  background: var(--orange, #ffa800);
  box-shadow: 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.15),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.03);

  &.PROJECT {
    background: #007aff;
  }
  &.STUDY {
    background: var(--color-orange);
  }
  &.FRONTEND {
    background: var(--color-blue-200);
  }
  &.BACKEND {
    background: #333b43;
  }
  &.MOBILE {
    background: #426c98;
  }
  &.SECURITY {
    background: #6e5e42;
  }
  &.AI {
    background: #ad843d;
  }
  &.MENTORING {
    background: #6a50fa;
  }
}
