@import 'mixin';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;

  .aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  ul.list {
    display: flex;
    flex-direction: column;

    & > li:last-child {
      border-bottom: 1px solid var(--color-gray-600);
    }
    .noArticle {
      @include title3(black-85);
      align-self: center;
      padding: 3rem 0;
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    &.isGuest {
      justify-content: center;
      .dummy,
      .postButton {
        display: none;
      }
    }

    .dummy {
      width: 5.625rem;
      height: 1px;
    }

    .postButton {
      @include title2(white);
      background-color: var(--color-blue-300);
      border-radius: 0.25rem;
      padding: 0.375rem 1.5rem;
      transition: filter 0.15s ease;
      &:hover {
        @include backEffect();
      }
    }
  }
}
