.basicBubble {
  display: flex;
  filter: drop-shadow(0px 35.66px 89.15px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 2.674px rgba(0, 0, 0, 0.55));

  & > .bubble {
    background: var(--color-gray-400, #f5f5f5);
    border: 0.5px solid var(--color-gray-100, #f9fafc);
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
  }

  &.primary-left {
    flex-direction: row-reverse;
  }
  &.primary-top {
    flex-direction: column-reverse;
  }
  &.primary-right {
    flex-direction: row;
  }
  &.primary-bottom {
    flex-direction: column;
  }

  &.secondary-start {
    align-items: flex-start;
  }
  &.secondary-end {
    align-items: flex-end;
  }

  &.primary-right,
  &.primary-left {
    .tail {
      margin: 0.4375rem 0;
    }
  }
  &.primary-top,
  &.primary-bottom {
    .tail {
      margin: 0 0.4375rem;
    }
  }
  &.large {
    .tail {
      zoom: 2;
    }
  }
  .tail {
    fill: var(--color-gray-400, #f5f5f5);
  }
}
