@import 'mixin';

.button {
  display: block;
  margin: 0;
  border: none;
  border-radius: 3px;
  text-align: center;
  transition: background-color 0.2s;
  cursor: pointer;

  &.small {
    @include body(black-50);
    padding: 6px 12px;
    border-radius: 3px;
  }

  &.medium {
    @include title3(black-50);
    padding: 8px 24px;
    border-radius: 3px;
  }

  &.large {
    @include title1(black-50);
    padding: 12px 36px;
    border-radius: 3px;
  }

  &.full {
    @extend .large;
    width: 100%;
  }

  &.bg-blue-400 {
    background: var(--color-blue-400);

    &:hover {
      background: var(--color-blue-500);
    }
  }

  &.bg-red {
    background: var(--color-red);

    &:hover {
      background: rgba(237, 52, 41, 1);
    }
  }

  &.bg-gray-800 {
    background: var(--color-gray-800);

    &:hover {
      background: var(--color-gray-900);
    }
  }

  &.bg-white {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-800);
  }

  &:hover {
    background-color: var(--color-gray-300);
  }

  &.text-white {
    color: var(--color-white);
  }

  &.text-black-85 {
    color: var(--color-black-85);
  }
}
