@import 'mixin';

.contentBlock {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba(217, 217, 217, 0.2);
  cursor: pointer;

  .profile {
    width: 11%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 9;

    .name {
      @include title3Emphasized(black-85);
    }

    .department {
      @include title3(black-50);
    }
  }

  p {
    @include title3(black-85);
    text-wrap: nowrap;
    text-align: center;
  }

  &:hover {
    background: #eaeaea40;
  }
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.grade,
.studentId,
.status {
  flex: 5;
}
