@mixin textColor($color: primary) {
  color: var(--color-text-#{$color});
}

@mixin largeTitle($color: primary) {
  @include textColor($color);
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.05688rem;
}

@mixin largeTitleEmphasized($color: primary) {
  @include largeTitle($color);
  font-weight: 600;
}

@mixin title1($color: primary) {
  @include textColor($color);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.05688rem;

}

@mixin title1Emphasized($color: primary) {
  @include title1($color);
  font-weight: 700;
}

@mixin title2($color: primary) {
  @include textColor($color);
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.03719rem;
}

@mixin title2Emphasized($color: primary) {
  @include title2($color);
  font-weight: 700;
}

@mixin title3($color: primary) {
  @include textColor($color);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.03281rem;
}

@mixin title3Emphasized($color: primary) {
  @include title3($color);
  font-weight: 700;
}

@mixin headline($color: primary) {
  @include textColor($color);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: -0.02844rem;
}

@mixin headlineEmphasized($color: primary) {
  @include headline($color);
  font-weight: 900;
}

@mixin body($color: primary) {
  @include textColor($color);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.02844rem;
}

@mixin bodyEmphasized($color: primary) {
  @include body($color);
  font-weight: 600;
}

@mixin callout($color: primary) {
  @include textColor($color);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.9375rem;
  letter-spacing: -0.02625rem;
}

@mixin calloutEmphasized($color: primary) {
  @include callout($color);
  font-weight: 600;
}

@mixin subHeadline($color: primary) {
  @include textColor($color);
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: -0.02406rem;
}

@mixin subHeadlineEmphasized($color: primary) {
  @include subHeadline($color);
  font-weight: 600;
}

@mixin footnote($color: primary) {
  @include textColor($color);
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.083rem;
  letter-spacing: -0.029173rem;
}

@mixin footnoteEmphasized($color: primary) {
  @include footnote($color);
  font-weight: 700;
}

@mixin caption1($color: primary) {
  @include textColor($color);
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: -0.01969rem;
}

@mixin caption1Emphasized($color: primary) {
  @include caption1($color);
  font-weight: 500;
}
