@mixin textColor($color: primary) {
  color: var(--color-text-#{$color});
}

// typography
@mixin largeTitle($color: primary) {
  @include textColor($color);
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.05688rem;
}

@mixin largeTitleEmphasized($color: primary) {
  @include largeTitle($color);
  font-weight: 600;
}

@mixin title1($color: primary) {
  @include textColor($color);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.05688rem;
}

@mixin title1Emphasized($color: primary) {
  @include title1($color);
  font-weight: 700;
}

@mixin title2($color: primary) {
  @include textColor($color);
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.03719rem;
}

@mixin title2Emphasized($color: primary) {
  @include title2($color);
  font-weight: 700;
}

@mixin title3($color: primary) {
  @include textColor($color);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.03281rem;
}

@mixin title3Emphasized($color: primary) {
  @include title3($color);
  font-weight: 700;
}

@mixin headline($color: primary) {
  @include textColor($color);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: -0.02844rem;
}

@mixin headlineEmphasized($color: primary) {
  @include headline($color);
  font-weight: 900;
}

@mixin body($color: primary) {
  @include textColor($color);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.02844rem;
}

@mixin bodyEmphasized($color: primary) {
  @include body($color);
  font-weight: 600;
}

@mixin callout($color: primary) {
  @include textColor($color);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.9375rem;
  letter-spacing: -0.02625rem;
}

@mixin calloutEmphasized($color: primary) {
  @include callout($color);
  font-weight: 600;
}

@mixin subHeadline($color: primary) {
  @include textColor($color);
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: -0.02406rem;
}

@mixin subHeadlineEmphasized($color: primary) {
  @include subHeadline($color);
  font-weight: 600;
}

@mixin footnote($color: primary) {
  @include textColor($color);
  font-size: 0.833rem;
  font-weight: 400;
  line-height: 1.083rem;
  letter-spacing: -0.029173rem;
}

@mixin footnoteEmphasized($color: primary) {
  @include footnote($color);
  font-weight: 700;
}

@mixin caption1($color: primary) {
  @include textColor($color);
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0.8125rem;
  letter-spacing: -0.01969rem;
}

@mixin caption1Emphasized($color: primary) {
  @include caption1($color);
  font-weight: 500;
}

// effect
@mixin backEffect() {
  filter: drop-shadow(0px 0px 2.67px rgba(0, 0, 0, 0.55))
    drop-shadow(0px 35.66px 89.15px rgba(0, 0, 0, 0.1));
}

@mixin textFieldEffect() {
  box-shadow: 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.3),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.05);
}

@mixin editorContent {
  @include title2(black-85);

  min-height: 15rem;
  overflow-y: auto;
  padding-bottom: 2rem;

  h1,
  h2,
  h3,
  p {
    margin: 1.2rem 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-gray-500);
    cursor: pointer;
    margin: 1rem 0;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin-left: 0.5rem;

    li {
      list-style: revert;
    }
  }

  blockquote {
    border-left: 3px solid var(--color-gray-800);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  pre {
    background: var(--color-black-100);
    color: var(--color-white);
    border-radius: 0.5rem;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      padding: 0;

      :global {
        .hljs-comment,
        .hljs-quote {
          color: #616161;
        }
        .hljs-variable,
        .hljs-template-variable,
        .hljs-attribute,
        .hljs-tag,
        .hljs-regexp,
        .hljs-link,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class {
          color: #f98181;
        }
        .hljs-number,
        .hljs-meta,
        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-type,
        .hljs-params {
          color: #fbbc88;
        }
        .hljs-string,
        .hljs-symbol,
        .hljs-bullet {
          color: #b9f18d;
        }
        .hljs-title,
        .hljs-section {
          color: #faf594;
        }
        .hljs-keyword,
        .hljs-selector-tag {
          color: #70cff8;
        }
      }
    }
  }

  img {
    display: block;
  }
}
