@import 'mixin';
html:has(.main) {
  font-size: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 5rem; // 100px
  max-width: 79.5rem; // 1240px
  margin: 0 auto;
  padding: 2.5rem 1rem 15rem;

  & > header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;

    .logo {
      align-self: center;
      height: 3rem;
    }
    .bannerWrapper {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      align-items: center;
    }
  }
  .seminarNotice {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  //temp: 임시 반응형
  @include mobile-header {
    padding-top: 3.875rem;
    & > header .logo {
      display: none;
    }
  }
  @media screen and (max-width: 68rem) {
    .seminarNotice {
      flex-direction: column;
      align-items: center;
    }
  }
}
