@import 'mixin';

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 70%;
  max-width: 60rem;
  padding: 4.5rem 0;
}

.title {
  @include largeTitle(primary);

  width: 100%;
  padding-bottom: 0.75rem;
  outline: none;
  border: none;
}

.editorContainer {
  width: 100%;
  min-height: 25rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-gray-600);

  > div {
    display: flex;
    flex-direction: column;

    > div {
      @include title2(black-85);

      min-height: 15rem;
      overflow-y: auto;
      padding-bottom: 2rem;

      // heading
      h1,
      h2,
      h3,
      p {
        margin: 1.2rem 0;
      }

      // horizontalRule
      hr {
        border: none;
        border-top: 1px solid var(--color-gray-500);
        cursor: pointer;
        margin: 1rem 0;
      }

      // bulletList, orderedList
      ul,
      ol {
        padding: 0 1rem;
        margin-left: 0.5rem;

        li {
          list-style: revert;
        }
      }

      // blockquote
      blockquote {
        border-left: 3px solid var(--color-gray-800);
        margin: 1.5rem 0;
        padding-left: 1rem;
      }

      // codeblock
      pre {
        background: var(--color-black-100);
        color: var(--color-white);
        border-radius: 0.5rem;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
          background: none;
          padding: 0;
        }
      }
    }
  }
}
