@import 'mixin';

.textBlock {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 48px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f4f4f4;

    .modifyText {
      color: rgba(0, 0, 0, 1);
      stroke-opacity: 1;
      path {
        stroke-opacity: 1;
      }
    }
  }

  &:active {
    background-color: #f0f0f0;

    .modifyText {
      color: rgba(0, 0, 0, 1);

      path {
        stroke-opacity: 1;
      }
    }
  }
}

.modifyText {
  @include body;
  color: rgba(0, 0, 0, 0.5);
}

.deleteText {
  @include body;
  color: #ff3b30;
}