@import 'mixin';

.cardWrapper {
  width: calc((100% - 40px) / 3);

  @media screen and (max-width: 64rem) {
    width: calc((100% - 20px) / 2);
  }

  @include mobile-streaming {
    width: 100%;
    aspect-ratio: auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--color-gray-700);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1),
    1px 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1),
      2px 2px 2px 0 rgba(0, 0, 0, 0.06);
  }

  @include mobile-streaming {
    flex-direction: row;
    margin: 0 1rem;
  }
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 6;
  background-color: var(--color-gray-700);
  position: relative;

  @include mobile-streaming {
    aspect-ratio: 16 / 9;
  }
}

.info {
  width: 100%;
  aspect-ratio: 16 / 3;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  @include title2Emphasized;

  @include mobile-streaming {
    @include title3Emphasized;
  }
}

.subTitle {
  @include title3;

  @include mobile-streaming {
    @include body;
  }
}

.presentor {
  @include headline;
  display: flex;
  align-items: center;
  color: var(--color-gray-900);

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  @include mobile-streaming {
    @include callout;
    color: var(--color-gray-900);

    svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

.viewers {
  @include body;
  display: inline-flex;
  position: absolute;
  top: 0.375rem;
  left: 0.375rem;
  padding: 0.1875rem 0.4375rem 0.1875rem 0.125rem;
  background-color: var(--color-black-50);
  border-radius: 9999px;
  align-items: center;
  color: white;

  svg {
    width: 1rem;
    height: 1rem;
    fill: red;

    circle {
      r: 3;
    }
  }
}
