.fields {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.row {
  display: flex;
  gap: 40px;
}
