@import 'mixin';

.wrapper {
  position: relative;
}
button.newsletter {
  background: transparent;
  border: none;
  &:active {
    outline: none;
  }
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.bubble {
  position: absolute;
  right: 107%;
  top: -0.5rem;
}
