@import 'mixin';

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 79.5rem;
  margin: 10.5rem auto 8.25rem;

  & > header {
    @include largeTitleEmphasized(black-85);
  }
}
