@import 'mixin';

.container {
  max-width: 40.5rem;
  width: 40.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 10rem auto;
  .wrapper {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .gradeWrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  img.headerImg {
    width: 40.5rem;
    height: auto;
  }
  .submit {
    margin-top: 1rem;
    width: 100%;
  }
  h2 {
    @include largeTitleEmphasized(black-85);
  }
}

@include mobile-header {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 3.875rem 0 3rem;
    padding: 0 1rem;
    gap: 2rem;
    .wrapper {
      padding: 0;
      gap: 2rem;

      @media screen and (max-width: 30rem) {
        .gradeWrapper {
          flex-direction: column;
          gap: 2rem;
        }
      }
    }

    img.headerImg {
      width: 80%;
      height: auto;
      margin: 0 auto;
    }
  }
}
