.wrapper {
  position: relative;
  height: fit-content;
  margin: 0 0.5rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  .imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  .postimage {
    width: 100%;
    height: auto;
  }
}

.alignController {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem;
  border: 1px solid var(--color-gray-300);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
  box-shadow: 0 7px 7px -5px #0000000a, 0 10px 15px -5px #0000000d,
    0 1px 3px #0000000d;

  button {
    display: flex;
    align-items: center;
    gap: 0.375rem;

    padding: 0.5rem 0.5rem;
    border: none;
    background-color: var(--color-white);

    &:hover {
      background-color: var(--color-gray-300);
      color: var(--color-black-85);
    }
  }
}

.selected img {
  border: 2px solid black;
}
