@import 'mixin';

.layout {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.seminarApply {
  display: flex;
  flex-direction: column;
  width: 640px;

  .imageWrapper {
    display: flex;
    justify-content: center;
    margin: 80px 0;
  }

  .title {
    @include largeTitleEmphasized(black-85);
  }

  .description {
    @include title2(black-85);
    margin: 48px 0;
  }
}
