@import 'mixin';

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  border-left: 1px solid var(--color-gray-800);
  min-height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);
  border-right: 1px solid var(--color-gray-800);

  @include mobile-streaming {
    width: 100%;
    flex-direction: column;
  }
}

.streamingWrapper {
  flex: 5;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile-streaming {
    flex: none;
    height: 100%;
  }
}

.streamingTitle {
  @include title2Emphasized;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid var(--color-gray-800);
}

.summaryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  flex: 1;
  min-height: 120px;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile-streaming {
    display: none;
  }
}

.sideTapWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-left: 1px solid var(--color-gray-800);

  @include mobile-streaming {
    min-width: 0;
    width: 100%;
    overflow: hidden;
  }
}

.chattingSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);

  @include mobile-streaming {
    min-height: 0;
    max-height: 100%;
  }
}
