@import 'mixin';

.input {
  @include body(black-85);

  height: 3rem;
  border: 0.2px solid var(--color-black-25);
  padding: 0 0.8rem;

  &::placeholder {
    @include body(black-50);
  }

  &:focus {
    border: 0.2px solid var(--color-black-100);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}
