@import 'mixin';

.input {
  @include body(black-85);

  height: 3rem;
  border: 0.2px solid var(--color-black-25);
  padding: 0 0.8rem;

  &::placeholder {
    @include body(black-25);
  }

  &:focus {
    border: 0.2px solid var(--color-black-100);
  }
}
