@import 'mixin';

@font-face {
  font-family: 'PretendardVariable';
  src: url('/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900; /* 가변 폰트인 경우 */
  font-display: swap;
}

.tableContainer {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 12vh;
}

section.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .header {
    @include title1(black-85);
  }
}

.infoTable {
  border: 1px solid #ddd;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  .item {
    display: flex;
    flex-direction: row;
    width: calc(50% - 1rem);
    gap: 2rem;
    min-width: max-content;
    .label {
      @include title3(black-85);
      width: 4rem;
    }
    .body {
      @include title2(black-50);
      width: inherit;
    }
  }
}

.detail {
  @include title2(black-50);
  white-space: pre-wrap;
}

@include mobile-header {
  section.section {
    gap: 1rem;

    .header {
      @include title2(black-85);
      align-self: center;
    }
  }

  .infoTable {
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;

    .item {
      .label {
        @include title3(black-85);
      }
      .body {
        @include title3(black-50);
      }
    }
  }
}
