@import 'mixin';

.tableContainer {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 12vh;
}

section.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .header {
    @include title1(black-85);
  }
}

.infoTable {
  border: 1px solid #ddd;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  .item {
    display: flex;
    flex-direction: row;
    width: calc(50% - 1rem);
    gap: 2rem;
    min-width: max-content;
    .label {
      @include title3(black-85);
      width: 4rem;
    }
    .body {
      @include title2(black-50);
    }
  }

}

.detail {
  @include title2(black-50);
}